<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content class="body">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Home</ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="main">
      <h1>Welcome to DGPro, the #1 Disc Golf Organization App</h1>
      <p>
        Here you can use some helpful tools to keep track of the discs you have in your bag, as well as different
        courses you have played.
        Simply navigate to the desired page at the bottom, and use the blue buttons to add info to the lists!
      </p>
    </div>

  </ion-content>